[run]
branch = True
source = .
omit =
    */migrations/*
    */tests/*
    manage.py
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    tasks/views.py
    challenges/*
    economy/*
    estate/*
    inventory/*
    media/*
    quests/*
    support/*
    tasks/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
